# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Environment variables
*.env
.env

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Flask uploads
uploads/

# Logs
*.log

# PyInstaller
dist/
build/

# Render temporary files
.cache/
